{% extends "coder_course/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Familias</h1>
    <ul>
        {% for familias in object_list %}

            <li>
                <p>NOMBRE:{{familias.nombre}}</p>
                <p>
                    <a href="{% url 'Detail' familias.id %}">Ver</a>
                    <a href="{% url 'Edit' familias.id %}">Editar</a>
                    <a href="{% url 'Delete' familias.id %}">Borrar</a>
                
                </p>
            </li>
    
        {% endfor %}
        <a href="agregar">Agregar</a>
        <a href="busquedaCodigo">Buscar</a>
{% endblock %}
